.team_section {
  max-width: $max-width;
  margin: 0px auto 64px auto;
  width: $section-width;

  .title {
    font-size: 64px;
    line-height: 95.68px;
    font-weight: $fw-bold;
    color: $secondary-color;
    margin-bottom: 54px;
    text-align: center;
  }

  .team_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    .member_card {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 8px;
      transition: all 0.3s ease;

      flex: 1;
      padding: 32px 24px;
      text-align: center;

      .member_img {
        display: flex;
        justify-content: center;
        margin-bottom: 16px;

        .border_img {
          border: 4px solid $main-color;
          border-radius: 100%;
          width: max-content;
        }
      }

      .member_title {
        font-size: 24px;
        line-height: 35.88px;
        font-weight: $fw-bold;
      }

      .member_job_title {
        margin-bottom: 12px;
        font-size: $fs-base;
        line-height: 23.92px;
        font-weight: $fw-semibold;
      }

      .member_content {
        font-size: $fs-base;
        line-height: 23.92px;
        font-weight: $fw-regular;
      }

      &:hover {
        box-shadow: rgba(252, 182, 65, 1) 0px 2px 8px 0px;
      }
    }
  }
}

// big-tablet
@media screen and (max-width: $big-tablet) {
  .team_section {
    .team_container {
      .member_card {
        padding: 22px 20px;
        .member_img {
          .border_img {
            width: 50%;
          }
        }
        .member_title {
          font-size: 18px;
          line-height: 20.88px;
        }
        .member_job_title,
        .member_content {
          font-size: $fs-sm;
          line-height: 18.92px;
        }
      }
    }
  }
}

// tablet
@media screen and (max-width: $tablet) {
  .team_section {
    .team_container {
      flex-direction: column;
      align-items: center;

      .member_card {
        width: 80%;
        padding: 32px 54px;
        .member_img {
          .border_img {
            width: max-content;
          }
        }

        .member_title {
          font-size: 24px;
          line-height: 35.88px;
        }

        .member_job_title,
        .member_content {
          font-size: $fs-base;
          line-height: 23.92px;
        }
      }
    }
  }
}

//mobile
@media screen and (max-width: $mobile) {
  .team_section {
    .team_container {
      .member_card {
        width: 100%;
        padding: 32px 24px;
      }
    }
  }
}

//small-mobile
@media screen and (max-width: $small-mobile) {
}
