$max-width: 1440px;
$section-width: 90%;

$big-tablet: 1024px;
$tablet: 900px;
$mobile: 500px;
$small-mobile: 380px;

$main-color: #fcb641;
$secondary-color: #353739;
$third-color: #2c2f36;
$black: #000;
$white: #fff;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$fs-xs: 0.75rem; //12px
$lh-xs: 1.167;

$fs-sm: 0.875rem; //14px
$lh-sm: 1.55;

$fs-base: 1rem; //16px
$lh-base: 1.5;

$fs-lg: 1.125rem; //18px
$lh-lg: 1.333;

$fs-xl: 1.25rem; //20px
$lh-xl: 1.2;

$spacing-15: 0.15px;
$spacing-25: 0.25px;
$spacing-44: 0.44px;
$spacing-75: 0.75px;
