html,
body {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-family: "Poppins", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #fcb641;
}

.header_wrapper {
  background: #fcb641;
}

.header_wrapper .container {
  max-width: 1440px;
  margin: 0px auto;
  width: 90%;
  padding: 26px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_wrapper .container .button {
  border: 1px solid #000;
  border-radius: 16px;
  padding: 0px 22px;
  font-size: 24px;
  line-height: 35.88px;
  font-weight: 500;
  color: #353739;
  background: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header_wrapper .container .button:hover {
  background: #353739;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .header_wrapper .container .button {
    padding: 0 12px;
    font-size: 1.125rem;
    line-height: 1.333;
    width: 140px;
  }
}

.intro_section {
  background-image: url("../images/header/background.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: cover;
  margin-top: -2px;
}

.intro_section .container {
  max-width: 1440px;
  margin: 0px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  padding-top: 66px;
  padding-bottom: 346px;
}

.intro_section .container .intro_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro_section .container .intro_content .title {
  font-size: 48px;
  line-height: 71.76px;
  font-weight: 700;
  color: #353739;
}

.intro_section .container .intro_content .sub_title {
  font-size: 32px;
  font-weight: 47.84px;
  color: #000;
  font-weight: 400;
  margin-top: 12px;
}

@media screen and (max-width: 1024px) {
  .intro_section .container {
    padding-bottom: 206px;
  }
  .intro_section .container .intro_content .title {
    font-size: 36px;
    line-height: 41.76px;
  }
  .intro_section .container .intro_content .sub_title {
    font-size: 22px;
  }
  .intro_section .container .intro_img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 900px) {
  .intro_section .container {
    padding-bottom: 146px;
  }
  .intro_section .container .intro_content .title {
    font-size: 28px;
    line-height: 31.76px;
  }
  .intro_section .container .intro_content .sub_title {
    font-size: 20px;
  }
  .intro_section .container .intro_img {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 500px) {
  .intro_section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 46px;
    padding-bottom: 126px;
  }
  .intro_section .container .intro_content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro_section .container .intro_content .title {
    font-size: 28px;
    line-height: 31.76px;
  }
  .intro_section .container .intro_img {
    width: 100%;
    height: 100%;
  }
}

.about_section {
  max-width: 1440px;
  margin: 64px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.about_section .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about_section .content .title {
  font-size: 64px;
  line-height: 95.68px;
  font-weight: 700;
  color: #353739;
  margin-bottom: 24px;
}

.about_section .content .about {
  font-size: 1.25rem;
  line-height: 29.9px;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.about_section .content .about ul {
  list-style-type: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.about_section .content .about ul div {
  font-weight: 700;
}

.about_section .content .about ul li {
  margin-left: 18px;
}

.about_section .about_img {
  width: 60%;
}

@media screen and (max-width: 1024px) {
  .about_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about_section .about_img {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 500px) {
  .about_section .about_img {
    width: 100%;
    height: 100%;
  }
}

.banner_section {
  margin-top: 64px;
}

.banner_section .content {
  max-width: 1440px;
  margin: 0 auto 24px auto;
  width: 90%;
  text-align: center;
}

.banner_section .content .title {
  font-size: 32px;
  line-height: 47.84px;
  font-weight: 700;
}

.banner_section .content .text {
  font-size: 1.25rem;
  line-height: 29.9px;
  font-weight: 400;
}

.banner_section .banner {
  background: #fcb641;
  padding: 24px 0;
}

.banner_section .banner .text {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
  text-align: center;
  color: #fff;
  font-size: 48px;
  line-height: 71.76px;
  font-weight: 700;
}

.features_section {
  max-width: 1440px;
  margin: 64px auto;
  width: 90%;
}

.features_section .title {
  font-size: 64px;
  line-height: 95.68px;
  font-weight: 700;
  color: #353739;
  margin-bottom: 24px;
  text-align: center;
}

.features_section .features_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (minmax(0, 1fr))[1];
      grid-template-rows: repeat(1, minmax(0, 1fr));
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 24px;
}

.features_section .features_container .feature_card {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px 24px;
  text-align: center;
}

.features_section .features_container .feature_card .feature_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.features_section .features_container .feature_card .feature_title {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 35.88px;
  font-weight: 700;
}

.features_section .features_container .feature_card .feature_content {
  font-size: 1rem;
  line-height: 23.92px;
  font-weight: 400;
}

.features_section .features_container .feature_card:hover {
  -webkit-box-shadow: #fcb641 0px 2px 8px 0px;
          box-shadow: #fcb641 0px 2px 8px 0px;
}

@media screen and (max-width: 1024px) {
  .features_section .features_container {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 500px) {
  .features_section .features_container {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.partner_section {
  background-image: url("../images/partner/background.png");
  background-position: 18% 82%;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.partner_section .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(252, 182, 65, 0.25);
  z-index: 1;
}

.partner_section .content {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
  position: relative;
  min-height: 500px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partner_section .content .title {
  font-size: 64px;
  line-height: 95.68px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 54px;
  text-align: center;
}

.partner_section .content .partner_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 34px;
}

.partner_section .content .partner_container .partner {
  width: 469px;
  height: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2c2f36;
  border: 0.5px solid #e5e5e5;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.partner_section .content .partner_container .partner:hover {
  border-color: #fcb641;
  -webkit-box-shadow: #fcb641 0px 2px 8px 0px;
          box-shadow: #fcb641 0px 2px 8px 0px;
}

@media screen and (max-width: 900px) {
  .partner_section .content {
    min-height: 800px;
  }
  .partner_section .content .partner_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .partner_section .content .partner_container .partner {
    width: 369px;
    height: 195px;
  }
}

.roadmap_section {
  border: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: top -15% left 0%;
  background-image: url("../images/roadmap/background.png");
}

.roadmap_section .container {
  max-width: 1440px;
  margin: 64px auto;
  width: 90%;
}

.roadmap_section .container .title {
  font-size: 64px;
  line-height: 95.68px;
  font-weight: 700;
  color: #353739;
  margin-bottom: 54px;
  text-align: center;
}

.roadmap_section .container .roadmap_title {
  font-size: 24px;
  line-height: 35.88px;
  font-weight: 700;
  color: #fcb641;
  margin-bottom: 12px;
}

.roadmap_section .container .list {
  list-style-type: circle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.roadmap_section .container .list li {
  margin-left: 18px;
  font-size: 1.25rem;
  line-height: 29.9px;
  font-weight: 400;
}

.roadmap_section .container .list li span {
  font-weight: 700;
}

.team_section {
  max-width: 1440px;
  margin: 0px auto 64px auto;
  width: 90%;
}

.team_section .title {
  font-size: 64px;
  line-height: 95.68px;
  font-weight: 700;
  color: #353739;
  margin-bottom: 54px;
  text-align: center;
}

.team_section .team_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.team_section .team_container .member_card {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 32px 24px;
  text-align: center;
}

.team_section .team_container .member_card .member_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 16px;
}

.team_section .team_container .member_card .member_img .border_img {
  border: 4px solid #fcb641;
  border-radius: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.team_section .team_container .member_card .member_title {
  font-size: 24px;
  line-height: 35.88px;
  font-weight: 700;
}

.team_section .team_container .member_card .member_job_title {
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 23.92px;
  font-weight: 600;
}

.team_section .team_container .member_card .member_content {
  font-size: 1rem;
  line-height: 23.92px;
  font-weight: 400;
}

.team_section .team_container .member_card:hover {
  -webkit-box-shadow: #fcb641 0px 2px 8px 0px;
          box-shadow: #fcb641 0px 2px 8px 0px;
}

@media screen and (max-width: 1024px) {
  .team_section .team_container .member_card {
    padding: 22px 20px;
  }
  .team_section .team_container .member_card .member_img .border_img {
    width: 50%;
  }
  .team_section .team_container .member_card .member_title {
    font-size: 18px;
    line-height: 20.88px;
  }
  .team_section .team_container .member_card .member_job_title,
  .team_section .team_container .member_card .member_content {
    font-size: 0.875rem;
    line-height: 18.92px;
  }
}

@media screen and (max-width: 900px) {
  .team_section .team_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team_section .team_container .member_card {
    width: 80%;
    padding: 32px 54px;
  }
  .team_section .team_container .member_card .member_img .border_img {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .team_section .team_container .member_card .member_title {
    font-size: 24px;
    line-height: 35.88px;
  }
  .team_section .team_container .member_card .member_job_title,
  .team_section .team_container .member_card .member_content {
    font-size: 1rem;
    line-height: 23.92px;
  }
}

@media screen and (max-width: 500px) {
  .team_section .team_container .member_card {
    width: 100%;
    padding: 32px 24px;
  }
}

.footer_wrapper {
  background-image: url("../images/footer/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer_wrapper .container {
  max-width: 1440px;
  margin: 0px auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 118px 0px 68px 0px;
}

.footer_wrapper .container .logo {
  width: 65%;
}

.footer_wrapper .container .title {
  font-size: 24px;
  line-height: 35.88px;
  font-weight: 700;
}

.footer_wrapper .container .content {
  font-size: 1rem;
  line-height: 32px;
  font-weight: 400;
  color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer_wrapper .container .content:hover {
  color: #353739;
}

@media screen and (max-width: 900px) {
  .footer_wrapper .container {
    gap: 28px;
    padding: 118px 0px 18px 0px;
  }
  .footer_wrapper .container .logo {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .footer_wrapper .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    padding: 118px 0px 24px 0px;
  }
  .footer_wrapper .container .logo {
    width: 50%;
  }
}
/*# sourceMappingURL=app.css.map */